<body class="x">
<header><font color="black">Shop Off</font></header>
<div>

<ul>
	<a href="/shre/home"> <li>Home</li><a>
	<a href="/shre/index"><li>About Us</li></a>
	<a href="/shre/sites"><li>Sites</li></a>
	<a href="/shre/create"><li>new account</li></a>
	<a href="/shre/login"><li>login</li></a>
</ul>
<div class="container">
</div>
</div>
