    
<head>
    <title>ShopOFF-AboutUs</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body style="background-repeat: no-repeat;background-size: 100%;background-color:black;">
<header><font color="black">Shop off</header>

<div class="firstul">
<ul>
    <a href="home"> <li>Home</li><a>
    <a href="index"><li>About Us</li></a>
    <a href="sites"><li>Sites</li></a>
    <a href="create"><li>new account</li></a>
    <a href="login"><li>login</li></a>

</ul>
</div>
<div>
    <ul>
        <a href="#buyonline"><li>What can I buy online?</li></a>
        <a href="#bigisonline"><li>How big is online shopping in India?</li></a>
        <a href="#start"><li>How did online shopping start?</li></a>
        <a href="#advantages"><li>What are the advantages of shopping online?</li></a>
        <a href="#category"><li>What is most popular category for online purchases?</li></a>
        <a href="#creditcard"><li>Do I need a credit card to make online purchases?</li></a>
        <a href="#online"><li>Is it safe to pay online?</li></a>
    </ul>
</div>

<!--<div class="container">-->


<p>When you buy a product or a service over the internet, instead of going to a traditional brick-and-mortar store, it is called online shopping. Globally, an increasing number of people are buying over the Internet because it is more convenient. This year, holiday shopping for Christmas and New Year is estimated to be over $20 billion.</p>

<a name="buyonline"><h4>What can I buy online?</h4></a>

<p>You can purchase almost anything online — starting with groceries and greeting cards to cell phones and ringtones for the cell phones, everything can be purchased online. While most people still find it convenient to buy their groceries from the neighbourhood shop, many people are purchasing rail and air tickets over the Internet. In addition, people and corporates as well, are also purchasing a variety of services online — such as a broking service or job search service.</p>



<a name="bigisonline"><h4>How big is online shopping in India?</h4>

<p>While online shopping is still not very big in India, the numbers are growing every year. According to the Internet & Mobile Association of India, e-commerce transactions, not counting travel, will cross Rs 2,300 crore or 10% of the organised retail market in 2006-07.</p>

<h4>How did online shopping start?</h4>

<p>Online shopping became popular during the Internet boom in 1999-2000. Amazon.com, the online bookstore founded by Jeff Bezos, created history by becoming the first bookstore with a presence only on the Internet. Following the success of Amazon, many bookstores with a physical presence also created an online presence on the Internet. Later, portals such as Yahoo.com and MSN.com also started online shopping channels where people could buy more than just books. Closer home, portals such as Indiatimes.com and Rediff.com came up with similar options for the Indian consumer.</p>

<a name="advantages"><h4>What are the advantages of shopping online?</h4></a>

<p>It is convenient, faster and sometimes also cheaper. For instance, rather than standing in a long queue and waiting for your turn to purchase a ticket, people are finding it simpler to log on to a website and buy it. In some instances, you may have to pay a premium for an online purchase but it is still preferred because the convenience factor is higher.

For instance, if you want to buy movie tickets online you may have to shell out a small premium over the actual price of the ticket but because of its convenience, people are opting for it.Buying or placing an order online is also useful when you need to send a gift to a friend who is staying in a different city or country. For instance, you can order flowers to your friend in New York on her birthday by placing an order for it on the Internet from your home in Mumbai.<p>

<a name="category"><h4>What is most popular category for online purchases?</h4></a>

<p>Travel is the most popular category for online purchases. Not surprisingly, the maximum number of online transactions in the country is made at irctc.co.in, the site of the Indian Railways, where train tickets can be purchased online. Air tickets are also a growing category in online purchases.

People can go to the airline's website and book their ticket or go to the online equivalent of a travel agent, travel sites like Makemytrip.com and travel.indiatimes.com that offer a choice of multiple airlines and the best deals in each.Overseas, Expedia.com, is one of the most popular travel sites, where you can book your travel and hotel stay. Expedia.com has tie-ups with a large number of hotel chains and because of the large number of customers who come to the site for their bookings, Expedia.com is able to offer very good discounts.<p>


<h4 name="creditcard">Do I need a credit card to make online purchases?</h4>

<p>In most cases, yes. Although online players in India are coming up with innovative ways to make payments, credit cards are still the most widely accepted form of making payments over the Internet. If you have a savings account with a bank, you can opt for Internet banking and use your Internet banking PIN (personal identification number) to make online purchases instead of a credit card. The purchase amount is automatically debited from your savings account, in this case and you don't require a credit card.

With the mobile subscriber base in the country growing rapidly, online retailers are also coming up with innovative ways to use the cell phone to make payments instead of the credit card. Rediff.com and Citibank, for instance, are using a mobile payments solution that allows Citibank account holders to pay using their mobile through SMS.

Some vendors also allow you to pay by cheque. This is usually true for online purchase of services such an online classifieds listing. In such cases, once the vendor receives the cheque and it is encashed, the service is activated.</p>

<h4 name="online">Is it safe to pay online?</h4>

<p>Security standards for online shopping are now well-established, so it is safe to pay online using your credit card. Your credit card details and other information are encrypted and sent over a secure layer over the Internet. Although no system is completely fraud-proof, the large number of people going online bears testimony to the acceptance and safety of online shopping.</p>

<!--</div>-->
<style type="text/css">
    p
    {
        color: white;
    }
    h4
    {
        color: white;
    }
    a
    {
        text-decoration: none;
        color: white;
    }
</style>
<footer style="border-top:1px solid white;padding-bottom:30px;"></footer>
</body>