<header><font color="black">Shop Off</font></header>
<h1></h1>
<form  action ="login" method="POST" class="form-signin">
	   <body style="background-color:purple">
	   <div align="center">
       <br><br><br><br><br><br><br><br><br><br><br><br>
		<div class="control-group">
		<input type="text" class="form-control" placeholder="email address" name="email"><br>
		</div>
 		<br>
 		<div class="control-group">
		 <input type="password" class="form-control" placeholder="password" name="password" id="password"><br>
		 </div>

		 <input type="submit" class="btn btn-lg btn-primary btn-block" value="log in"/>
		<!--<input type="hidden" name="_csrf" value="<%= _csrf %>"/>-->
		</div>

		</body>

	</form>
