
<head>
	<title>Sites</title>
</head>
<body style="background-color:black">
<header>Shop Off</header>
<ul>
	<li style="list-style: none;display: inline-block;">
		<img src="/images/icon.jpg" style="width:100px;"><br>
		<a style="text-decoration: none;
	color: white;" href="http://www.forever21.com" target="_blank">Forever21</a>
	</li>
	<br><br>



	<li style="list-style: none;
	display: inline-block;padding:20px;">
	<a style="text-decoration: none;
	color: white;"href="http://www.flipkart.com" title="Flipkart"><img src="/images/255027-flipkart.jpg" style="width:100px; ">
	<br>
		Flipkart</a>
	</li>
	<br><br>



	<li style="list-style: none;
	display: inline-block;padding:20px;">
	<a style="text-decoration: none;
	color: white;"href="http://www.peterengland.com" title="Flipkart"><img src="/images/peter-england-logo.png" style="width:100px; "><br>
		Peter England</a>
	</li>
</ul>

<style type="text/css">
	header
{
	text-align: center;
	font: fantasy;
	font-size: 30px;
	font-weight: bold;
	background-color: black;
	color: white;


}
</style>